.container {
    max-width : 1080px;
    margin : 0 auto;
    padding-inline : 100px; 
}

.nav {
    display : flex;
}

.nav > a:not(:first-child) {
    margin-left : auto;
}

.nav > a {
    color : black;
    text-decoration : none;
}

.nav > a:active {
    color : red;
}

.add-staff-form {
    display : flex;
    flex-direction : column;
    gap : 1em;
}

.form-btn {
    width : fit-content;
    padding-inline : 20px;
}

.staff > h1 {
    font-size : 20px;
    border-left : 1px solid black;
    border-right: 1px solid black;
    padding-inline : 10px;
}

.staff {
    display : flex;
    justify-content: space-between;
    align-items: center;
}