@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,500&display=swap');
:root {
    --clr-primary : #4059AD;
    --clr-secondary : #97D8C4;
    --clr-text : #EFF2F1;
    --clr-white : #fff;
    --clr-form-text : #4458A7;
    --clr-light-bg : #F7F8FC;
}

* {
    box-sizing: border-box;
    font-family : Open Sans !important;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin : 0;
  padding : 0;
  font-family : Open Sans !important;
}
.container {
  background-image: url("../assets/bg-motif.png");
  background-size : 100%;
  /* height : 100vh; */
  /* width : 100vw;  */
  background-repeat: no-repeat;
}

.table-section,
.apply-leave-section,
.add-staff-section,
.check-staff-section,
.settings-section {
  background : var(--clr-white);
  padding : 40px;
  border-radius : 40px;
  margin-bottom : 40px;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
}

.home,
.apply-leave,
.add-staff,
.check-staff,
.settings {
  max-width : 80%;
  margin : 0 auto; 
}

.close {
  cursor : pointer;
  width : 20px;
  border : none;
}

.delete {
  border : none !important;
  background : var(--clr-white);
}

.container {
    /* max-width : 1080px; */
    margin : 0 auto;
    padding-inline : 100px; 
}

.d-flex {
    display : flex;
    justify-content: space-between;
}

.nav {
    display : flex;
    background : var(--clr-form-text);
    padding : 10px;
    justify-content: space-around;
}

.selected {
  color : var(--clr-secondary) !important; 
}

table {
  border-spacing : 0;
}

.tr-staff:last-child {
  display : none;
}

td, th {
  border : 0.5px solid rgba(0, 0, 0, 0.1);
}

.odd {
  background : var(--clr-light-bg);
}

th {
  background : var(--clr-form-text);
  color : var(--clr-text);
}

.grid {
  display : grid;
}

.grid-template-4fr {
  grid-template-columns: repeat(4, 1fr);
}

.generate-excel-btn {
  /* margin-top : 20px; */
  margin-bottom : 20px;
}

.generate-pdf-btn {
  margin-left : 20px;
}

.button-group {
  text-align: right;
}

.mantine-1f8v7sc[data-weekend] {
  color : #ced4da;
}

.mantine-Paper-root.mantine-Modal-modal.mantine-rqmd87, 
.mantine-121w2fi.mantine-Modal-header {
  text-align: center;
}

.mantine-cx9mud {
  margin : 0 auto;
}

select,
input {
  padding : 10px 10px 10px 10px;
  border-radius : 5px;
  border : none;
  margin-top: 10px;
  margin-bottom : 20px;
  background : var(--clr-light-bg);
}

input {
  border : none;
}

button {
  padding : 10px 15px 10px 15px;
  border-radius : 25px;
  border : 1px solid var(--clr-form-text);
  background : transparent;
  color : var(--clr-form-text);
  font-weight : 700;
  cursor : pointer;
}

button:hover {
  background : var(--clr-form-text);
  color : var(--clr-white);
}

.nav > a {
    color : var(--clr-text);
    text-decoration : none;
    font-weight : 700;
}

.mantine-RangeCalendar-calendarBase.mantine-1nw5k7j {
  background: #fff;
  border-radius: 6px;
  margin-block : 20px;
}

.add-staff-form,
.apply-leave-form {
    display : flex;
    flex-direction : column;
    /* gap : 1em; */
}

.calendar {
  max-width : 272px !important; 
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
}

.mantine-Text-root.mantine-RangeCalendar-weekday.mantine-17ie1b8 {
  color : var(--clr-white) !important;
}
.mantine-RangeCalendar-cell {
  width : 100%; 
}
.form-btn {
    width : fit-content;
    padding-inline : 20px;
}

.settings-btn {
  margin-top : 10px;
}

.staff,
.staff-table {
    margin : 0px auto 20px auto;
}

.staff p {
    text-align : center;
}

table.staff, 
table.staff-table {
  width : 100%;
  text-align : center;
}

.staff-table {
  margin-top : 20px;
  /* margin-left : auto; */
}

.staff-table th {
   width : 50%;
}

label {
  color : var(--clr-form-text);
  font-weight : 700;
}

.staff td,
.staff th,
.staff-table td,
.staff-table th,
.on-leave td,
.on-leave th {
    padding : 10px;
    /* border : 1px solid var(--clr-primary); */
    text-align : center;
}

h2.page-heading {
  margin-bottom : 40px;
  text-align : left;
  padding-top : 60px;
  color : var(--clr-white);
  letter-spacing: 0.05em  ;
}

.delete-staff-btn {
  margin-block : 20px;
}

/* Check Staff Leave */
select#staff,
select#month {
  width : 100%;
}

.leave-overview label {
  color : var(--clr-black);
}

.leave-overview select {
  margin : 20px auto;
}

/* Settings Page */
.mantine-InputWrapper-label.mantine-ittua2 {
  color : var(--clr-form-text);
  font-weight: bold;
  margin-bottom : 20px;
}


/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
    /* Added z-index to mask white bg on "Name" th */
    z-index : 3;
  }
  
  .loading-ring {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform : scale(0.79);
    /* z-index : 3; */
  }
  
  .loading-ring > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #ffffff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
  }

/* Loading Animations */
@-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Media Queries */
@media (max-width : 768px) {
  .staff {
    display : block;
    width : 100%;
    overflow : scroll;
    /* margin : 0 auto; */
  }

  .staff th.column-1 {
    background : var(--clr-form-text);
  }

  .staff td.column-1 {
    background : var(--clr-white);
  }

  .staff td.column-1, 
  .staff th.column-1 {
    position : sticky;
    left : 0;
    z-index : 2;
  }

  .container {
    padding-inline : 20px;
    background-size : cover;
  }

  .nav {
    font-size: 0.8rem;
  }

  .generate-pdf-btn {
    margin-left : 20px ;
    margin-bottom : 20px;
  }

  .button-group {
    text-align : center;
  }

  .calendar {
    margin-block : 20px;
  }

  .home,
  .apply-leave,
  .add-staff,
  .check-staff,
  .settings {
    max-width : 100%;
    margin : 0 auto; 
  }


}

@media (hover: hover) {
  .mantine-RangeCalendar-day:hover,
  .mantine-RangeCalendar-calendarHeaderLevel:hover, 
  .mantine-RangeCalendar-calendarHeaderControl:hover {
    background-color: var(--clr-form-text) !important;
  } 
}