@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,500&display=swap');
:root {
    --clr-primary : #8eb1d7;
    --clr-black : #000;
}

* {
    box-sizing: border-box;
    font-family : Open Sans;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin : 0;
  padding : 0;
}

.close {
  cursor : pointer;
  width : 20px;
  border : none;
}

.delete {
  border : none !important;
}

.container {
    max-width : 1080px;
    margin : 0 auto;
    padding-inline : 100px; 
}

.d-flex {
    display : flex;
    justify-content: space-between;
}

.nav {
    display : flex;
    background : var(--clr-primary);
    padding : 10px;
    justify-content: space-around;
}

/* .nav > a:not(:first-child) {
    margin-left : auto;
} */

button {
  padding : 5px 10px 5px 10px;
  border-radius : 25px;
  border : 1px solid var(--clr-black);
  background : var(--clr-primary);
  color : var(--clr-black);
  font-weight : 700;
}

.nav > a {
    color : var(--clr-black);
    text-decoration : none;
    font-weight : 700;
}

.nav > a:active {
    color : red;
}

.add-staff-form,
.apply-leave-form {
    display : flex;
    flex-direction : column;
    gap : 1em;
    background : #EFEFEF;
    box-shadow: 0px 0px 2px 2px var(--clr-black);
    margin-block : 20px;
    padding : 20px;
}

.form-btn {
    width : fit-content;
    padding-inline : 20px;
}

.staff,
.staff-table {
    margin : 0px auto 20px auto;
}

.staff p {
    text-align : center;
}

table.staff, 
table.staff-table {
  width : 100%;
}

.staff-table {
  margin-top : 20px;
}

.staff-table th {
   width : 50%;
}

.staff td,
.staff th,
.staff-table td,
.staff-table th,
.on-leave td,
.on-leave th {
    padding : 10px;
    border : 1px solid var(--clr-black);
    text-align : center;
    font-weight : 700;
}

.apply-leave-form input, 
.apply-leave-form select {
    width : 70%;
}

h2.page-heading {
  margin-block : 20px;
  text-align : center;
}

.delete-staff-btn {
  margin-block : 20px;
}

/* Check Staff Leave */
select#staff {
  width : 100%;
}

/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
  }
  
  .loading-ring {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform : scale(0.79);
  }
  
  .loading-ring > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #ffffff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
  }

/* Loading Animations */
@-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Media Queries */
@media (max-width : 768px) {
  table {
    display : block;
    width : 100%;
    overflow : scroll;
    /* margin : 0 auto; */
  }

  table td.column-1,
  table th.column-1 {
    position : sticky;
    left : 0;
    z-index : 2;
    background : white;
  }

  .container {
    padding-inline : 20px;
  }
}